<!DOCTYPE html>
<html> 
  <head>
    <title>Wrrrrr...</title>
    <style>
      h1 {
        color: rgb(139,0,139);
        font-family: Papyrus;
        font size: 40px;
        font-weight: normal;
        text-align: center;
      }

      #banner{
        width: 100%;
        object-fit: cover;
        
      }
    </style>
  </head>
  <body>
    <h1> Nature in Samurai Jack</h1>
    <img id = "banner" src=https://flask-demo.gustawszymanski.repl.co/static/banner.png height="320">
    <h2>About the Samurai</h2>
      <p>
      Samurai Jack is an American animated action-adventure dystopian television series created by Genndy Tartakovsky for Cartoon Network and Adult Swim. The show is produced by Cartoon Network Studios. Tartakovsky conceived Samurai Jack after finishing his work on his first Cartoon Network original series, Dexter's Laboratory, which premiered in 1996. Samurai Jack took inspiration from Kung Fu, the 1972 televised drama starring David Carradine, Tartakovsky's fascination with samurai culture and the Frank Miller comic series Ronin.
      </p>
    <h2>Examples of nature</h2>
  </body>
</html>